// boards/shields/my_macropad/my_macropad.overlay

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    // 'chosen' 노드가 핵심입니다.
    // 이 노드는 zmk,kscan (GPIO 핀 정보)과
    // zmk,matrix_transform (물리적 배열 정보)을 연결하는 역할을 합니다.
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio0 9  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio0 10  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            , <&gpio1 11  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
            ;
    };
};
