#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F13      &kp F14      &kp F15
                &kp F16      &kp F17      &kp F18

                // 짧게 → A, 길게 → 블루투스 리스트 클리어
                &ht_a_btclear   &none        &none
            >;
        };
    };

    behaviors {
        ht_a_btclear: hold_tap_a_btclear {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "tap-preferred";   // 짧게 탭 우선
            tapping-term-ms = <200>;    // 200ms 기준 짧게/길게 구분

            bindings = <&kp A>, <&bt BT_CLR>;
            // [0] 탭 → A, [1] 홀드 → 블루투스 클리어
        };
    };
};
